
header{
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    .nav{
       display: flex;
       align-items: center;
       justify-content: space-between; 
       height: 90px;

       &__logo{
        font-weight: 700;
        color: #000;
       }
       &__list{
        display: flex;
        align-items: center;
        column-gap: 90px;
        font-size: 14px;
        &--item{
            &-link{
                color: #000;
            }
        }
       }
    }
}